# needs to be installed before running Question5/main.py and Question2/main.py
numpy
gym
torch
matplotlib
seaborn
moviepy
pygame
pandas
scipy
fer
neattext
scikit-learn
stable-baselines3[extra]
opencv-python
gymnasium